# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

# Configuração do banco
DATABASE_HOST=host
DATABASE_USER=usuario
DATABASE_PASSWORD=senha_banco
DATABASE_NAME=nome_banco
DATABASE_PORT=3306

# Configuração do servidor
PORT=3333

# Configuração do JWT
JWT_SECRET=senha_jwt

# URLs do front-end
FRONTEND_URL_DEV=http://lvh.me:5173
FRONTEND_URL_PROD=

# credenciais global admin

GLOBAL_ADMIN_SENHA=
GLOBAL_ADMIN_EMAIL=
GLOBAL_ADMIN_NOME=

# Tempo da reserva

RESERVATION_TTL=900000

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=


TICKET_SECRET_KEY=